* {
margin:0;
padding:0;
}

body {
font-family:Verdana, Arial, sans-serif;
font-size:0.9em;
line-height:1.4em;
}

#page_wrapper {
width:47.5em;
margin:5em auto auto;
}

#projectContainer {
float:left;
width:12.5em;
}

#listContainer {
float:left;
width:12.5em;
overflow:auto;
}

#viewer_container {
float:left;
width:22.5em;
}

.todo_item {
border-bottom:1px solid #DDD;
background-color:#FFF;
cursor:move;
margin:0.3em;
}

.todo_detail {
border:1px solid silver;
background-color:#FFF;
margin:0.3em;
padding:0.3em;
}

.add_button {
font-size:0.8em;
font-weight:700;
border-bottom:1px solid #DDD;
margin:0.3em;
padding:0.3em;
}

#listContainer .todo_item {
font-size:0.9em;
}

.add_button .editor_field {
width:8.75em;
margin-right:0.5em;
}

.editor_field {
font-size:1.1em;
border:1px solid silver;
}

.editor_ok_button,
.editor_cancel_button {
width:1.75em;
border:1px solid silver;
background-color:white;
}

.editor_ok_button {
margin-right:0.5em;
}

.delete_button {
float:right;
}

.todo_detail p {
font-size:0.9em;
padding:0.3em;
}

.todo_detail p:first-child {
font-weight:700;
font-size:0.8em;
}